 .post {
    width: 100%; 
}

.description {
    padding: 25px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}   

img {
    width: 100%;
}

hr {
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
}