.create-description {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }

  input[type='file'] {
    display: none;
  }

  
  .previewImage {
    object-fit: scale-down;  
    height: 100%;
    width: 150px;
  }

  .selector {
    width: 150px;
    height: 150px;
  }

  .postCreator { 
    padding: 20px;
    background-color: mintcream;
  }

  .postElements * {
    margin: 20px;
  }

  .upload {
    display: inline-block;
  }

  .postElements {
    display: flex;
  }

  .buttons {
    justify-content: center;
    display: flex;
  }

  .buttons * {
    margin: 0px 10px;
  }

  .cancel {
    background-color: rgb(248, 154, 138);
  }
